<mat-list id="menu-left">
  <!-- brand -->
  <mat-list-item matRipple class="pointer"
    ><button mat-icon-button color="accent">
      <mat-icon>menu</mat-icon>
    </button>
    Brand</mat-list-item
  >
  <mat-divider></mat-divider>
  <mat-list-item class="user-data pointer" matRipple
    ><mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Elio </mat-card-title>
      <mat-card-subtitle style="margin-bottom: 0"
        >Gonzales Perez</mat-card-subtitle
      >
    </mat-card-header></mat-list-item
  >
  <mat-divider></mat-divider>
  <mat-list-item matRipple class="pointer active"
    ><button mat-icon-button color="accent">
      <mat-icon class="active">graphic_eq</mat-icon></button
    >Dashboard</mat-list-item
  >
  <mat-list-item matRipple class="pointer"
    ><button mat-icon-button color="accent">
      <mat-icon>screen_lock_portrait</mat-icon></button
    >Noticias</mat-list-item
  >
  <mat-list-item matRipple class="pointer"
    ><button mat-icon-button color="accent">
      <mat-icon>signal_wifi_4_bar</mat-icon></button
    >Agenda</mat-list-item
  >
  <mat-divider></mat-divider>

  <mat-accordion>
    <mat-expansion-panel class="expasion-panel-c">
      <mat-expansion-panel-header matRipple class="expansion-panel-h">
        <mat-list-item class="pointer"
          ><button mat-icon-button color="accent">
            <mat-icon>device_hub</mat-icon></button
          >Planificación
        </mat-list-item>
      </mat-expansion-panel-header>
      <p matRipple style="margin-bottom: 0;">
        <button mat-icon-button color="accent">
          <mat-icon>computer</mat-icon></button
        >Agenda
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="expasion-panel-c">
      <mat-expansion-panel-header matRipple class="expansion-panel-h">
        <mat-list-item class="pointer"
          ><button mat-icon-button color="accent">
            <mat-icon>folder_open</mat-icon></button
          >Talento Humano</mat-list-item
        >
      </mat-expansion-panel-header>
      <p matRipple style="margin-bottom: 0;">
        <button mat-icon-button color="accent">
          <mat-icon>gamepad</mat-icon></button
        >Agenda
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="expasion-panel-c">
      <mat-expansion-panel-header matRipple class="expansion-panel-h">
        <mat-list-item class="pointer"
          ><button mat-icon-button color="accent">
            <mat-icon>insert_emoticon</mat-icon></button
          >Tesorería</mat-list-item
        >
      </mat-expansion-panel-header>
      <p matRipple style="margin-bottom: 0;">
        <button mat-icon-button color="accent">
          <mat-icon>bubble_chart</mat-icon></button
        >Reportes
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="expasion-panel-c">
      <mat-expansion-panel-header matRipple class="expansion-panel-h">
        <mat-list-item class="pointer"
          ><button mat-icon-button color="accent">
            <mat-icon>multiline_chart</mat-icon></button
          >Gestión Académica</mat-list-item
        >
      </mat-expansion-panel-header>
      <p matRipple style="margin-bottom: 0;">
        <button mat-icon-button color="accent">
          <mat-icon>cloud</mat-icon></button
        >Reportes
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider></mat-divider>

  <mat-list-item matRipple class="pointer"
    ><button mat-icon-button color="accent">
      <mat-icon>widgets</mat-icon></button
    >Facturación</mat-list-item
  >

  <mat-divider></mat-divider>
  <!-- user -->
</mat-list>
