#home {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.content-left {
  width: 100%;
  min-width: 250px;
  overflow: hidden;
}

::ng-deep ::-webkit-scrollbar {
  display: none !important;
}

.content-rigth {
  flex: 1 auto;
  height: 100%;
  background: #f4f8f9;
}

.drawer-container {
  width: 100%;
}

/* A */

.m-main {
  transition: all 0.24s ease-in-out 0s;
}

.m-main-large {
  margin-left: 50px !important;
}

.m-sidenav {
  width: 250px;
  min-height: 100%;
  transition: all 0.24s ease-in-out 0s;
}

.m-sidenav-small {
  width: 50px;
}
