.mat-menu-content {
  width: 30px;
}
.minifab-item {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.minifab-item button {
  background: #fff;
}

::ng-deep .minifab-item button span {
  color: #bdbdbd;
}

::ng-deep .custon-menu {
  box-shadow: none;
  background: none;
  padding-top: 16px;
  min-width: 70px !important;
  padding-left: 8px;
}

.content-button {
  position: absolute;
  right: 30px;
  top: -28px;
}

.bg-button {
  background: #2196f3;
}
