<div class="content-button">
  <button
    [matMenuTriggerFor]="menu"
    #menuTrigger="matMenuTrigger"
    mat-fab
    class="bg-button"
    aria-label="Example icon button with a filter list icon"
  >
    <mat-icon> {{ menuTrigger.menuOpen ? "clear" : "add" }}</mat-icon>
  </button>
  <div>
    <mat-menu #menu="matMenu" class="custon-menu">
      <div class="minifab-item">
        <button mat-mini-fab><mat-icon>create</mat-icon></button>
      </div>
      <div class="minifab-item">
        <button mat-mini-fab><mat-icon>drafts</mat-icon></button>
      </div>
      <div class="minifab-item">
        <button mat-mini-fab><mat-icon>gesture</mat-icon></button>
      </div>
      <div class="minifab-item">
        <button mat-mini-fab><mat-icon>mail</mat-icon></button>
      </div>
    </mat-menu>
  </div>
</div>
