<div id="search">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-icon matSuffix>search</mat-icon>
      <mat-label>Buscar estudiante</mat-label>

      <input type="text" matInput />
    </mat-form-field>
  </form>
  <p>Filtro: PREMIUM COLLEGE SURCO</p>
  <br />
  <P style="text-align: center">Busca a tus estudiantes</P>

  <mat-accordion>
    <mat-expansion-panel class="expansion-content">
      <mat-expansion-panel-header>
        <mat-panel-title>
          1añ. Inicial
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-list">
        <ul>
          <li>LOS LEÑADORES</li>
          <li>6/20</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-content">
      <mat-expansion-panel-header>
        <mat-panel-title>
          2añ. Inicial
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-list">
        <ul>
          <li>LOS LEÑADORES</li>
          <li>6/20</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-content">
      <mat-expansion-panel-header>
        <mat-panel-title>
          3añ. Inicial
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-list">
        <ul>
          <li>LOS LEÑADORES</li>
          <li>6/20</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-content">
      <mat-expansion-panel-header>
        <mat-panel-title>
          4añ. Inicial
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-list">
        <ul>
          <li>LOS LEÑADORES</li>
          <li>6/20</li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
